<!DOCTYPE html>
<html>
<body>
<form action="/message?name={{personName}}" method=post>
    <input type=text name=message>
    <button type=submit>Shout</button>
</form>
<ul>
    {{#messagesHeard}}
    <li class="message">{{.}}</li>
    {{/messagesHeard}}
</ul>
</body>
</html>